.leowp-button{
    display: inline-block;
    
    text-align: center;
    text-transform: uppercase;
    
    font-size: $sizeSmall;
    font-weight: 500;
    padding: 10px;
    
    letter-spacing: 1px;
    
    border-radius: 3px;
    border-bottom: 5px solid transparent;
    
    background: $colorBlack;
    border-color: darken($colorBlack, 4%);
    color: $colorWhite;
    transition: all linear .2s;
    &:hover {
        background: darken($colorBlack, 4%);
    }

    &__small {
        padding: 5px 10px;
    }
    
    &__medium{
        padding: 15px 25px;
    }
    
    &__large {
        padding: 25px 35px;
    }
    
    &__red{
        background: $colorRed;
        border-color: darken($colorRed, 4%);
        color: $colorWhite;
        &:hover{
            background: darken($colorRed, 4%);
        }
    }
    &__blue{
        background: $colorBlue;
        border-color: darken($colorBlue, 4%);
        color: $colorWhite;
        &:hover {
            background: darken($colorBlue, 4%);
        }
    }
    &__green {
        background: $colorGreen;
        border-color: darken($colorGreen, 4%);
        color: $colorWhite;
        &:hover {
            background: darken($colorGreen, 4%);
        }
    }
    &__yellow {
        background: $colorYellow;
        border-color: darken($colorYellow, 4%);
        color: $colorWhite;
        &:hover {
            background: darken($colorYellow, 4%);
        }
    }
    &__purple {
        background: $colorPurple;
        border-color: darken($colorPurple, 4%);
        color: $colorWhite;
        &:hover {
            background: darken($colorPurple, 4%);
        }
    }
    &__orange {
        background: $colorOrange;
        border-color: darken($colorOrange, 4%);
        color: $colorWhite;
        &:hover {
            background: darken($colorOrange, 4%);
        }
    }
}